@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Raleway:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

.hero__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2b1055;
    flex-direction: column;
    align-items: center;
    padding: 5px 50px;
    z-index: 10000;
    transform: translateY(-100%);
    transition: transform .3s;
}

.nav__links{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .hero__nav{
        flex-direction: row;
        background-color: transparent;
        transform: translateY(0);
    }
    .nav__links{
        flex-direction: row;
    }
    
}

@media screen and (min-width: 768px){
    .nav__menu{
        display: none;
    }
    
}

.nav__menu{
    width: 40px;
    position: fixed;
    top: .7rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 1000000;
}

.menu__img{
    max-width: 100%;
}

.nav__show{
    transform: translateY(0);
}

.nav__img{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav__cta{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px 15px;
    border-radius: 20px;
    
}

.nav__cta:hover{
    background-color: #fff;
    color: #2b1055;
    font-weight: 500;
}

.parallax{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
}

.parallax__images{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
}

.parallax__images#moon{
    mix-blend-mode: screen;
}

.parallax__images#mountains_front{
    z-index: 10;
}

.parallax__text{
    right: -350px;
    position: absolute;
    font-size: 7.5vw;
    color: #fff;
    white-space: nowrap;
    z-index: 9;
}

.parallax__btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    color: #2b1055;
    font-size: 1rem;
    display: inline-block;
    z-index: 9;
    transform: translateY(100px);
}

.parallax__arrow{
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.about{
    padding: 5px 50px;
    position: relative;
    height: 50vh;
    background: #1c0522;
}

@media screen and (min-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about__title{
    font-size: 2rem;
    color: #fff;
    margin-top: 2rem;
}

.about__paragraph{
    font-size: 1.5rem;
    color: #fff;
}

@media screen and (max-width: 768px){
    .about{
        padding: 2px 25px;
        text-align: left;
    }
    .about__paragraph{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .parallax__text{
        font-size: 3rem;
    }
    
    .about__cv{
        margin-bottom: 50px;
    }
}

body {
    background:#0b1d2a;
  }
  
  .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
  }
  
  .arrows path {
      stroke: #fcfcfc;
      fill: transparent;
      stroke-width: 1px;	
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
      animation-delay:-1s;
      -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
      animation-delay:-0.5s;
      -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

  .about__img{
      width: 250px;
      height: 200px;
  }

  .about__picture{
      width: 100%;
  }

  .about__cv{
    background-color: #fff;
    color: #2b1055;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 15px;
    width: 170px;
    border-radius: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
  }

.skills{
    height: 100vh;
    background-color: #fcfcfc;
    padding: 5px 50px;
}

.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
   
}

.skill__icon{
    width: 196px;
    height: 196px;
    background-color: #1c0522;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 5px 7px -3px #000000;
}

.skill__text{
    color: #fff;
    font-size: 1rem;
}

.skill__img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.skills__title{
    font-size: 2rem;
    color: #1c0522;
    margin-top: 2rem;
}

.skills__paragraph{
    font-size: 1.5rem;
    color: #1c0522;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px){
    .skills{
        padding: 2px 25px;
        text-align: left;
    }
    .skills__container{
        /* justify-content: center; */
        justify-content: space-between;
    }
    .skill__icon{
        width: 90px;
        height: 90px;
    }

    .skill__img{
        width: 40px;
        height: 40px;
    }

    .skills__paragraph{
        font-size: 1rem;
        margin-bottom: 0;
    }
}

.studys{
    height: 100vh;
    background-color: #2b1055;
    padding: 5px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.studys__title{
    font-size: 2rem;
    margin-top: 2rem;
    color: #fcfcfc;
    font-weight: 600;
}

.studys__subtitle{
    font-size: 2rem;
    font-style: italic;
    color: #fcfcfc;
    font-weight: 600;
}

.studys__paragraph{
    font-size: 1.5rem;
    color: #fcfcfc;
    margin-bottom: 20px;
}

.studys__img{
    width: 400px;
    margin: 0 auto;
}

.studys__pic{
    width: 100%;
    
}

@media screen and (max-width: 768px){
    .studys{
        padding: 2px 25px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .studys__subtitle{
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .studys__paragraph{
        font-size: 1rem;
    }
    .studys__img{
        display: none;
    }
}

.projects{
    height: 100vh;
    padding: 10px 50px;
    background-color: #2b1055;
    
}

.projects__title{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #fcfcfc;
    padding-bottom: 20px;
}

.projects__cards{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    
}

.projects__card{
    cursor: pointer;
    border-radius: 18px;
    background: #fcfcfc;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
}

.projects__card:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 768px){
    .projects{
        padding: 2px 25px;
    }
    .projects__cards{
        /* width: 80%; */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
    }

    .projects__card{
        margin-bottom: 20px;
    }
}

.card__img{
    width: 100%;
    border-radius: 16px;
}

.card__text{
    font-size: 1rem;
}

.hireme{
    padding: 10px 50px;
    height: 30vh;
    background: #1c0522
}